<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>예약맛집</title>
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
    <link th:href="@{/css/loginstyles.css}" rel="stylesheet" />

</head>
</html>
<body class="page-top">
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container ">
        <a class="navbar-brand" href="/reservation/mainpage">예약맛집</a>
        <!--<img th:src="@{/assets/main-img/navbar-logo.svg}" alt="..." />-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="/reservation/selectday">예약 수정</a></li>
                <li class="nav-item"><a class="nav-link" href="/review/list">리뷰</a></li>
                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item"><a class="nav-link" href="/logout">로그아웃</a></li>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item"><a class="nav-link" href="/mypage/main">내 페이지</a></li>
                </div>
                <div sec:authorize="isAnonymous()">
                    <li class="nav-item"><a class="nav-link" href="/customer/login">로그인</a></li>
                </div>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead">
    <div class="container position-relative" style="margin-top: 110px;">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-black">
                    <!-- Page heading-->
                    <h1 class="mb-5">비밀번호 변경</h1>
                    <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN"
                          action="/mypage/password_change" method="post">
                        <!-- Email address input-->
                        <div class="col">
                            <input name="current_password" class="form-control form-control-lg" id="emailAddress" type="required,password"
                                   placeholder="현재 비밀번호를 입력하세요" data-sb-validations="required,email"/>
                        </div>
                        <div class="col">
                            <input name="new_password" class="form-control form-control-lg" id="loginPassword"
                                   type="password" placeholder="새로운 비밀번호를 입력하세요." data-sb-validations="required,password"/>
                        </div>
                        <div class="col">
                            <input type="hidden" name="customerID" th:value="${#authentication.principal.username}"/>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary btn-lg " id="submitButton" type="submit">확인</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</header>


</body>
<script>
    const navbarCollapsible = document.body.querySelector('#mainNav');
    navbarCollapsible.classList.add('navbar-shrink')
</script>
