body * {
    font-family: "NanumSquareNeo" !important;
}

#modifyOrDelete table {
    width: 90%;
    height: 60vh;
    margin: 2rem auto;
    border: 0.1rem solid var(--bs-gray);
}

#modifyOrDelete th {
    border: 0.05rem solid var(--bs-gray);
}

#modifyOrDelete td {
    border: 0.05rem dotted var(--bs-gray);
}

td.occupied {
    background-color: var(--bs-gray-dark);
}

td.reserved {
    background-color: var(--bs-green);
}

td.selected {
    background-color: var(--bs-yellow);
}

#selectMenu * {
    box-sizing: border-box !important;
}

#selectMenu .contents {
    margin: 0 auto;
    border-radius: 1rem;
    width: 80%;
    height: 90vh;
    overflow: hidden;
}

#selectMenu .left {
    margin: 0;
    padding: 1rem;
    width: 75%;
    height: 100%;
    float: left;
    background-color: var(--bs-gray-600);
    overflow-y: auto;
}

#selectMenu .right {
    padding: 1rem;
    width: 25%;
    height: 100%;
    float: right;
    background-color: var(--bs-gray-200);
}

#selectMenu table {
    width: 100%;
    height: 80%
}

#selectMenu thead {
    width: 100%;
    height: 1rem;
}

#selectMenu tbody {
    width: 100%;
    height: calc(100% - 2rem);
    overflow: auto;
}

#selectMenu tfoot {
    width: 100%;
    height: 1rem;
}

#selectMenu th:first-child, #selectMenu td:first-child {
    width: 60%;
    text-align: left;
}

#selectMenu th:nth-child(2), #selectMenu td:nth-child(2) {
    width: 30%;
    text-align: center;
}

#selectMenu th:last-child, #selectMenu td:last-child {
    width: 10%;
    text-align: right;
}

#selectMenu .right > div {
    width: 100%;
    height: 20%;
    line-height: 16vh;
    text-align: center;
    vertical-align: middle;
}

@font-face {
    font-family: "NanumSquareNeo";
    src: url(../../static/assets/fonts/NanumSquareNeo-eHv.ttf);
}

@font-face {
    font-family: "NanumPen";
    src: url(../../static/assets/fonts/NanumPen.ttf);
}

@font-face {
    font-family: "MaruBuri";
    src: url(../../static/assets/fonts/MaruBuri-Bold.ttf);
}